.timeline {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-self: center;
    left: 10;
    top: 5%;
    z-index: 999;
    width: 25%;
    height: 90%;
    padding-top: 1em;
    overflow-y: visible;
    overflow-x: hidden;
    justify-content: space-between;

}

.timeline-item::marker {
    content: "\25CC  ";
    color: grey;
}

.timeline-item-interactive::marker {
    content: "\25CB  ";
    color: lightseagreen;

}

.timeline-item, .timeline-item-interactive {
    cursor: pointer;
    transform-origin: left center;
    user-select: none;
    white-space: nowrap;
}